In [1]:
import pandas as pd
import numpy as np

In [2]:
model_data = pd.read_csv("data/capstone_model_data.csv",  delimiter=';', skiprows = 0)

In [3]:
model_data.head()
model_data.columns

Index(['model_person', 'sex', 'year_of_birth', 'age', 'retirement_age',
       'retirement_start_year', 'remaining_years', 'state_pension_0',
       'state_pension_1', 'state_pension_2', 'target_pension'],
      dtype='object')

In [4]:
df_model_data = model_data[['model_person', 'sex', 'year_of_birth', 'age', 'retirement_age', 'retirement_start_year', 'remaining_years', 'state_pension_0', 'state_pension_1', 'state_pension_2', 'target_pension']]
df_model_data

,model_person,sex,year_of_birth,age,retirement_age,retirement_start_year,remaining_years,state_pension_0,state_pension_1,state_pension_2,target_pension
0,person_1,male,1993,30,67,2060,"53,04","2.334,21","2.870,00","3.530,00","3.900,00"
1,person_2,female,1988,35,67,2055,"52,05","2.334,21","2.870,00","3.530,00","3.900,00"
2,person_3,male,1983,40,67,2050,"42,92","2.334,21","2.870,00","3.530,00","3.900,00"
3,person_4,female,1978,45,67,2045,"41,97","2.334,21","2.870,00","3.530,00","3.900,00"
4,person_5,male,1973,50,67,2040,"32,94","2.334,21","2.870,00","3.530,00","3.900,00"
5,person_6,female,1968,55,67,2035,"32,03","2.334,21","2.870,00","3.530,00","3.900,00"
6,person_7,male,1963,60,67,2030,"23,58","2.334,21","2.870,00","3.530,00","3.900,00"

In [5]:
df_model_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_person           7 non-null      object
 1   sex                    7 non-null      object
 2   year_of_birth          7 non-null      int64
 3   age                    7 non-null      int64
 4   retirement_age         7 non-null      int64
 5   retirement_start_year  7 non-null      int64
 6   remaining_years        7 non-null      object
 7   state_pension_0        7 non-null      object
 8   state_pension_1        7 non-null      object
 9   state_pension_2        7 non-null      object
 10  target_pension         7 non-null      object
dtypes: int64(4), object(7)
memory usage: 744.0+ bytes

In [6]:
df_model_data['remaining_years'] = df_model_data['remaining_years'].str.replace(',', '.').astype(float)

In [7]:
df_model_data['state_pension_0'] = df_model_data['state_pension_0'].str.replace('.', '')
df_model_data['state_pension_1'] = df_model_data['state_pension_1'].str.replace('.', '')
df_model_data['state_pension_2'] = df_model_data['state_pension_2'].str.replace('.', '')
df_model_data['target_pension'] = df_model_data['target_pension'].str.replace('.', '')

/var/folders/ph/6y08czjn14bfflh007r4klh40000gn/T/ipykernel_8107/2813608622.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_model_data['state_pension_0'] = df_model_data['state_pension_0'].str.replace('.', '')
/var/folders/ph/6y08czjn14bfflh007r4klh40000gn/T/ipykernel_8107/2813608622.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_model_data['state_pension_1'] = df_model_data['state_pension_1'].str.replace('.', '')
/var/folders/ph/6y08czjn14bfflh007r4klh40000gn/T/ipykernel_8107/2813608622.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_model_data['state_pension_2'] = df_model_data['state_pension_2'].str.replace('.', '')
/var/folders/ph/6y08czjn14bfflh007r4klh40000gn/T/ipykernel_8107/2813608622.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_model_data['target_pension'] = df_model_data['target_pension'].str.replace('.', '')

In [8]:
df_model_data['state_pension_0'] = df_model_data['state_pension_0'].str.replace(',', '.').astype(float)
df_model_data['state_pension_1'] = df_model_data['state_pension_1'].str.replace(',', '.').astype(float)
df_model_data['state_pension_2'] = df_model_data['state_pension_2'].str.replace(',', '.').astype(float)
df_model_data['target_pension'] = df_model_data['target_pension'].str.replace(',', '.').astype(float)

In [9]:
df_model_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_person           7 non-null      object
 1   sex                    7 non-null      object
 2   year_of_birth          7 non-null      int64
 3   age                    7 non-null      int64
 4   retirement_age         7 non-null      int64
 5   retirement_start_year  7 non-null      int64
 6   remaining_years        7 non-null      float64
 7   state_pension_0        7 non-null      float64
 8   state_pension_1        7 non-null      float64
 9   state_pension_2        7 non-null      float64
 10  target_pension         7 non-null      float64
dtypes: float64(5), int64(4), object(2)
memory usage: 744.0+ bytes

In [10]:
import psycopg2
# Import get_dataframe function from the sql module
from sql_functions import get_dataframe

In [11]:
table_name = 'dummy_pension_data'
# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine

In [12]:
# create a variable called engine using the get_engine function
engine = get_engine()

In [13]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_model_data.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema='public', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The dummy_pension_data table was imported successfully.