In [12]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt

In [13]:
from sql_functions import get_dataframe

In [ ]:
etfs_sql = 'SELECT * FROM public.etfs_lowrisk'

etfs = get_dataframe(etfs_sql)

In [ ]:
correlation = etfs['efficiency'].corr(etfs['carbon_intensity'])
correlation

In [ ]:
etfs_performance = '''SELECT AVG(p_five_yr),
	   sub_segment
FROM public.etfs_lowrisk 
GROUP BY sub_segment 
HAVING AVG(p_five_yr) IS NOT NULL
ORDER BY avg(p_five_yr) DESC  
LIMIT 10;'''

In [ ]:
# Plot the data
plt.figure(figsize=(10, 6))
plt.bar(etfs['sub_segment'], etfs_performance)
plt.xlabel('Sub Segment')
plt.ylabel('Average 5-Year Return')
plt.title('Top 10 Sub Segments by Average 5-Year Return')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:
monthly_investment = int(input("Enter your monthly investment "))
num_years = int(input("Enter the years you want to invest: "))

performance_query = '''SELECT p_ten_yr, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        --LIMIT 1;'''

etf_data = get_dataframe(performance_query)

#annual to monthly performance
etf_data['Monthly_Performance'] = (1 + (etf_data['p_ten_yr'])/100) ** (1/12) - 1

# number of months (30 years * 12 months)
num_months = num_years * 12

# future value after 30 years
future_values=[]
for index, row in etf_data.iterrows():
    print(index,row)
    future_value = monthly_investment * ((1 + row['Monthly_Performance']) ** num_months - 1) / row['Monthly_Performance']
    future_values.append(future_value)
print(future_values)
    #print(f"Predicted future value for entry {index}: {future_value:.2f} Euros")
etf_data['ROI_16'] = future_values
etf_data['ROI_16'] = etf_data['ROI_16'].round(2)

In [ ]:
performance_query = '''SELECT p_ten_yr, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        --LIMIT 1;'''

etf_data = get_dataframe(performance_query)

etf_data['Monthly_Performance'] = (1 + (etf_data['p_ten_yr'])/100) ** (1/12) - 1
etf_data['ROI_16'] = 100 * ((1 + row['Monthly_Performance']) ** 12*16 - 1) / row['Monthly_Performance']

In [ ]:
etf_data

In [ ]:
etf_data

In [ ]:
et

In [ ]:
etf_data['ROI'].max()

In [ ]:
from sql_functions import get_engine
engine = get_engine()

In [ ]:
# Set the schema to your course name and the table_name variable to 'carriers_' + your initials/group number

schema = 'public' # your course schema name, example 'hh_analytics_22_1
table_name = 'etf_lowrisk_ROI_monthly_investment' # Example: 'carriers_pw' for Philipp Wendt

In [ ]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        Amount_to_invest_data.to_sql(name=table_name, # Name of SQL table variable
                        con= engine, # Engine or connection
                        schema= schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

In [ ]:
etf_data.shape

In [15]:
monthly_investment = 100
#num_years = 30
performance_query = '''SELECT p_ten_yr, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        --LIMIT 1;'''

etf_data = get_dataframe(performance_query)

#annual to monthly performance
etf_data['Monthly_Performance'] = (1 + (etf_data['p_ten_yr'])/100) ** (1/12) - 1

# number of months (30 years * 12 months)
#num_months = num_years * 12

# future value after 30 years

for num in range(7,28,5):
    # number of months (30 years * 12 months)
    num_months = num * 12
    future_values=[]
    for index, row in etf_data.iterrows():
        future_value = monthly_investment * ((1 + row['Monthly_Performance']) ** num_months - 1) / row['Monthly_Performance']
        future_values.append(future_value)
    col_name = 'ROI_' + str(num)
    etf_data[col_name] = future_values
    etf_data[col_name] = etf_data[col_name].round(2)
print(etf_data)
    #print(f"Predicted future value for entry {index}: {future_value:.2f} Euros")
#etf_data['ROI_16'] = future_values
#etf_data['ROI_16'] = etf_data['ROI_16'].round(2)

     p_ten_yr ticker  Monthly_Performance        ROI_56        ROI_57
0       24.95    SMH             0.018735  1.394981e+09  1.743030e+09
1        1.47    BND             0.001217  1.038910e+05  1.066262e+05
2       14.57    VUG             0.011399  1.781909e+07  2.041662e+07
3        9.61    VAW             0.007676  2.207641e+06  2.421047e+06
4        1.45    AGG             0.001200  1.032437e+05  1.059487e+05
..        ...    ...                  ...           ...           ...
706      5.28    VEA             0.004297  3.918786e+05  4.137985e+05
707     10.27    VTV             0.008180  2.904229e+06  3.203749e+06
708      5.25   IEFA             0.004273  3.874562e+05  4.090262e+05
709     10.23     VO             0.008150  2.856215e+06  3.149661e+06
710    -12.10   ERUS            -0.010690  9.347720e+03  9.348550e+03

[711 rows x 5 columns]

In [ ]:
monthly_amount = 100

performance_query = '''SELECT p_ten_yr, expense_ratio, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        LIMIT 1;'''

etf_data = get_dataframe(performance_query)

#annual to monthly performance
etf_data['yearly_performance'] = (1 + (etf_data['p_ten_yr'])/100)

net_amount = 0
for num in range(1,8):
    total_net_amounts=[]
    for index, row in etf_data.iterrows():
        print(net_amount)
        yearly_amount = 12* monthly_amount
        net_amount = (net_amount + yearly_amount) * row['yearly_performance'] - (net_amount + yearly_amount)*row['expense_ratio']
        total_net_amounts.append(net_amount)
    col_name = 'test_' + str(num) + '_' + str(monthly_amount)
    etf_data[col_name] = total_net_amounts
    etf_data[col_name] = etf_data[col_name].round(2)
print(etf_data)

In [5]:
monthly_amount = 100

performance_query = '''SELECT p_ten_yr, expense_ratio, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        LIMIT 1;'''

etf_data = get_dataframe(performance_query)


#annual to monthly performance
etf_data['yearly_performance'] = (1 + (etf_data['p_ten_yr'].astype(float))/100)
yearly_amount = 12* monthly_amount
net_amount_test = (yearly_amount) * etf_data['yearly_performance'].astype(float) - (yearly_amount)*etf_data['yearly_performance'].astype(float)*etf_data['expense_ratio'].astype(float)
print(net_amount_test)

0    1228.2816
dtype: float64

In [7]:

monthly_amount = 1548

performance_query = '''SELECT p_ten_yr, expense_ratio, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        LIMIT 5;'''

etf_data = get_dataframe(performance_query)
net_amount = 0
for year in range(7,38,5):
    etf_data['yearly_performance'] = (1 + (etf_data['p_ten_yr'].astype(float))/100)
    yearly_amount = 12* monthly_amount
    #net_amount_test = (yearly_amount) * etf_data['yearly_performance'].astype(float) - (yearly_amount)*etf_data['yearly_performance'].astype(float)*etf_data['expense_ratio'].astype(float)
    net_amount = ((yearly_amount + net_amount) * etf_data['yearly_performance'].astype(float)) - ((yearly_amount + net_amount) *etf_data['yearly_performance'].astype(float)*etf_data['expense_ratio'].astype(float))
print(net_amount)

0    142885.534609
1    187508.508873
2    187580.974926
3    183493.812173
4    106164.234403
dtype: float64

In [ ]:

performance_query = '''SELECT p_ten_yr, expense_ratio, ticker FROM public.etfs_lowrisk 
                        WHERE p_ten_yr IS NOT NULL
                        --ORDER BY p_ten_yr ASC  
                        LIMIT 5;'''

etf_data = get_dataframe(performance_query)
net_amount = 0
for monthly_amount in range (100,2000,100):
    etf_data['yearly_performance'] = (1 + (etf_data['p_ten_yr'].astype(float))/100)
    yearly_amount = 12* monthly_amount
        #net_amount_test = (yearly_amount) * etf_data['yearly_performance'].astype(float) - (yearly_amount)*etf_data['yearly_performance'].astype(float)*etf_data['expense_ratio'].astype(float)
    net_amount = ((yearly_amount + net_amount) * etf_data['yearly_performance'].astype(float)) - ((yearly_amount + net_amount) *etf_data['yearly_performance'].astype(float)*etf_data['expense_ratio'].astype(float))
    col_name = 'MIA_' +  '_' + str(monthly_amount)
    etf_data[col_name] = net_amount
    etf_data[col_name] = etf_data[col_name].round(2)
print(etf_data)

In [11]:
future_value = 142800
yearly_performance = 0.1248  # Example yearly performance rate of 5%
num_years = 7
expense_ratio = 0.09  # Example expense ratio of 1%

monthly_amount = (future_value * (yearly_performance)) / ((1 + yearly_performance) ** num_years - 1) / (1 - expense_ratio) / 12
#yearly_amount = future_value *row['Yearly_Performance'].astype(float) / ((1 + row['Yearly_Performance'].astype(float))) ** num - 1
print("Monthly Amount to Invest:", monthly_amount)

Monthly Amount to Invest: 1277.1345529522678