In [1]:
import pandas as pd
import numpy as np

df_raw = pd.read_csv('/Users/kk/Desktop/etf_addendum/Final ETF Table/df_merged_etf_3170cols_final.csv')
#numericals = pd.read_csv('/Users/kk/Desktop/etf_addendum/Final ETF Table/umap_tables/numericals.csv')
#categoricals = pd.read_csv('/Users/kk/Desktop/etf_addendum/Final ETF Table/umap_tables/categoricals.csv')
#filters = pd.read_csv('/Users/kk/Desktop/etf_addendum/Final ETF Table/umap_tables/filters.csv')

ModuleNotFoundError: No module named 'pandas'

In [2]:
df_raw.columns

NameError: name 'df_raw' is not defined

In [ ]:
origiginal_nums = df_raw.iloc[:,[1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]]
origiginal_nums.columns

Index(['ticker', 'one_yr_return', 'expense_ratio', 'aum', 'dividend_yield',
       'quality_score', 'score_peer_rank', 'score_global_rank',
       'carbon_intensity', 'sri_screening_criteria_exposure', 'efficiency',
       'tradability', 'fit', 'ytd_p_percent', 'one_yr_p_percent',
       'three_yr_p_percent', 'five_yr_p_percent', 'ten_yr_p_percent', 'one_mo',
       'three_mo', 'ytd', 'one_yr', 'three_yr'],
      dtype='object')

In [ ]:
original_filters = df_raw.iloc[:,[1, 6, 7, 14, 18, -1, -2, -3, -4, -5]]
original_filters.head()

,ticker,fundname,esg_rating,grade,segment,asset_class_filter,asset_class_2,region,asset_class,subsegment
0,SPY,SPDR S&P 500 ETF Trust,A,A,Equity: U.S. - Large Cap,standard,Equity,U.S.,Equity,Large Cap
1,IVV,iShares Core S&P 500 ETF,A,A,Equity: U.S. - Large Cap,standard,Equity,U.S.,Equity,Large Cap
2,VOO,Vanguard 500 Index Fund,A,A,Equity: U.S. - Large Cap,standard,Equity,U.S.,Equity,Large Cap
3,VTI,Vanguard Total Stock Market ETF,A,A,Equity: U.S. - Total Market,standard,Equity,U.S.,Equity,Total Market
4,QQQ,Invesco QQQ Trust,A,A,Equity: U.S. - Large Cap,standard,Equity,U.S.,Equity,Large Cap

In [ ]:
original_filters.subsegment.unique()

array(['  Large Cap', '  Total Market', 'U.S.  -  Total Market',
       '  Large Cap Value', 'North America  -  Total Market',
       ' Broad Market, Broad-based Investment Grade',
       '  Large Cap Growth', '  Mid Cap', '  Small Cap', nan,
       'U.S. - Broad Market, Broad-based Investment Grade',
       '  High Dividend Yield',
       ' Government, Treasury Investment Grade Long-Term',
       ' Corporate, Broad-based Investment Grade Intermediate',
       ' Corporate, Broad-based Investment Grade',
       ' Corporate, Broad-based Investment Grade Short-Term',
       ' Broad Market, Broad-based Investment Grade Short-Term',
       ' Government, Local Authority/Municipal Investment Grade',
       ' Government, Treasury Investment Grade Intermediate',
       ' Government, Treasury Investment Grade Ultra-Short Term',
       ' Government, Mortgage-backed Investment Grade',
       ' Government, Treasury Investment Grade Short-Term',
       '  Small Cap Value', ' Government, Treasury Investment Grade',
       ' Broad Market, Broad-based Investment Grade Ultra-Short Term',
       ' Broad Market, Broad-based',
       ' Government, Inflation-linked Investment Grade', ' Total Market',
       ' Government, Treasury Investment Grade Floating Rate',
       '  Mid Cap Value', 'North America  -  Total Market Value',
       '  Extended Market', ' Government, Non-Native Currency',
       ' Broad Market, Broad-based Investment Grade Intermediate',
       ' Corporate, Broad-based High Yield', '  Small Cap Growth',
       '  Total Market Value',
       ' Government, Inflation-linked Investment Grade Short-Term',
       ' Total Market Growth', ' Mid Cap Growth', ' Corporate, Preferred',
       'North America - Total Market Growth', 'North America - Small Cap',
       'U.S.  -  Large Cap',
       ' Government, Local Authority/Municipal Investment Grade Short-Term',
       'U.S.  -  Small Cap', ' Extended Market Value',
       ' Broad Market, Broad-based Short-Term',
       ' Broad Market, Broad-based Investment Grade Floating Rate',
       'Pacific   -  Total Market', 'U.S.  -  High Dividend Yield',
       ' Corporate, Broad-based Investment Grade Long-Term',
       'U.S.  -  Total Market Value',
       ' Broad Market, Broad-based Investment Grade Long-Term',
       ' Corporate, Broad-based High Yield Short-Term',
       ' Corporate, Broad-based', ' Corporate, Convertible',
       ' Corporate, Bank Loans High Yield Floating Rate',
       ' Broad Market, Asset-backed Short-Term',
       'Pacific Ex-Japan  -  Total Market',
       ' Corporate, Broad-based High Yield Floating Rate',
       ' Corporate, Broad-based Investment Grade Ultra-Short Term',
       ' Government, Local Authority/Municipal Investment Grade Long-Term',
       'U.S. Real Estate', ' Government, Treasury',
       ' Corporate, Bank Loans Investment Grade Floating Rate',
       'U.S. - Small Cap Value',
       ' Government, Local Authority/Municipal High Yield', ' Large Cap',
       ' High Dividend Yield', ' Target Outcome',
       ' Government, Inflation-linked Investment Grade Intermediate',
       ' Government, Local Authority/Municipal Investment Grade Intermediate',
       'Pacific Ex-Japan  -  Large Cap', ' Target Risk',
       ' Broad Market, Broad-based High Yield',
       ' Broad Market, Broad-based Intermediate',
       ' Corporate, Preferred Floating Rate',
       'North America - High Dividend Yield',
       'U.S. Government, Treasury Investment Grade',
       ' Corporate, Broad-based Investment Grade Floating Rate',
       '  Micro Cap', ' Large Cap Growth',
       ' Government, Inflation-linked Investment Grade Long-Term',
       ' Corporate, Broad-based High Yield Ultra-Short Term', 'Term',
       'Japan  -  Total Market',
       ' Government, Local Authority/Municipal Investment Grade Ultra-Short-Term',
       ' Government, Agency Investment Grade', 'U.S. Low Carbon',
       ' Broad Market, Broad-based Long-Term', 'U.S.  -  Extended Market',
       ' Corporate, Broad-based High Yield Intermediate',
       'Pacific  -  Total Market', 'North America  -  Large Cap',
       'U.S. - Government, Inflation-linked',
       ' Corporate, Asset-backed Investment Grade',
       ' Government, Local Authority/Municipal Short-Term',
       ' Government, Local Authority/Municipal High Yield Intermediate',
       'U.S. - Broad Market, Broad-based', 'Short Term',
       ' Government, Local Authority/Municipal Ultra-Short Term',
       'North America Target Outcome', ' Extended Market Growth',
       'U.S. Large Cap Value',
       ' Government, Local Authority/Municipal Intermediate',
       ' Small Cap', ' Corporate, Preferred Short-Term',
       ' Corporate, Broad-based Intermediate', ' Total Market Value',
       ' Government, Broad-based Long-Term',
       'U.S. Government, Treasury Investment Grade Short-Term',
       'Native Currency Intermediate',
       ' Broad Market, Broad-based High Yield Short-Term',
       ' Government, Broad-based Investment Grade Short-Term',
       'U.S. - Corporate, Broad-based Investment Grade',
       ' Extended Market', 'U.S.  -  Mid Cap', 'Pacific - Total Market',
       ' Large Cap Value', ' Automobile Manufacturers',
       ' Corporate, Preferred Investment Grade',
       ' Broad Market, Asset-backed Investment Grade',
       ' Corporate, Bank Loans Floating Rate',
       'U.S. - Total Market Growth', ' Broad Market, Asset-backed',
       ' Broad Market, Broad-based Floating Rate',
       ' Government, Broad-based Investment Grade',
       ' Broad Market, Broad-based High Yield Floating Rate',
       'U.S. - Corporate, Broad-based High Yield',
       ' Broad Market, Broad-based Ultra-Short Term',
       ' Government, Local Authority/Municipal Investment Grade Floating Rate',
       'North America - Total Market', 'Pacific - High Dividend Yield',
       'Pacific Government, Treasury', 'U.S. Internet',
       ' Technology Hardware Storage & Peripheral', 'U.S. Broad Thematic',
       ' Government, Mortgage-backed',
       'Pacific Broad Market, Broad-based High Yield',
       ' Municipals Investment Grade', 'Pacific  - High Dividend Yield',
       'U.S. - Total Market Value'], dtype=object)

In [ ]:
numericals.drop('Unnamed: 0', axis=1,inplace=True)
categoricals.drop('Unnamed: 0', axis=1,inplace=True)
filters.drop('Unnamed: 0', axis=1,inplace=True)

In [ ]:
numericals.isna().sum()

ticker                                0
one_yr_return                       438
expense_ratio                         9
aum                                   2
dividend_yield                     1499
quality_score                      1088
score_peer_rank                    1088
score_global_rank                  1128
carbon_intensity                   1177
sri_screening_criteria_exposure    1499
efficiency                         1056
tradability                        1200
fit                                2194
one_mo_p_percent                     56
three_mo_p_percent                  131
ytd_p_percent                       241
one_yr_p_percent                    438
three_yr_p_percent                 1183
five_yr_p_percent                  1583
ten_yr_p_percent                   2242
one_mo                              884
three_mo                            429
ytd                                 235
one_yr                              157
dtype: int64

In [ ]:
categoricals.isna().sum()

subs_broad                0
subs_corporate            0
subs_extended_market      0
subs_government           0
subs_hi_dividend_yield    0
subs_industry_tech        0
subs_large_cap            0
subs_low_carbon           0
subs_mid_cap              0
subs_other                0
subs_small_cap            0
subs_unspecific           0
subs_broad.1              0
region_africa             0
region_america_non_us     0
region_sea_pac            0
region_brics              0
region_dev_markets        0
region_emerg_markets      0
region_europe             0
region_global             0
region_mid_east           0
region_us                 0
strat_inverse             0
strat_leveraged           0
strat_regular             0
esg_rating_A              0
esg_rating_AA             0
esg_rating_AAA            0
esg_rating_B              0
esg_rating_BB             0
esg_rating_BBB            0
esg_rating                0
grade_A                   0
grade_B                   0
grade_C                   0
grade_D                   0
ticker                    0
dtype: int64

In [ ]:
filters.isna().sum()

invest_strategy    0
asset_class        0
asset_region       0
subsegment         0
ticker             0
dtype: int64

In [ ]:
filters.info

<bound method DataFrame.info of      invest_strategy       asset_class   asset_region    subsegment ticker
0           standard            equity      region_us     large_cap    SPY
1           standard            equity      region_us     large_cap    IVV
2           standard            equity      region_us     large_cap    VOO
3           standard            equity      region_us  total_market    VTI
4           standard            equity      region_us     large_cap    QQQ
...              ...               ...            ...           ...    ...
3163        standard            equity  region_global  total_market   AVNM
3164       leveraged      alternatives  region_global         other   SPKY
3165        standard            equity   region_brics  total_market   FLRU
3166        standard            equity  region_global  total_market   SROI
3167        standard  asset_allocation  region_global         other   CETF

[3168 rows x 5 columns]>

--------------

## impute NAs for numericals by k-nearest-neighbours

-------

In [ ]:
numericals.columns

Index(['ticker', 'one_yr_return', 'expense_ratio', 'aum', 'dividend_yield',
       'quality_score', 'score_peer_rank', 'score_global_rank',
       'carbon_intensity', 'sri_screening_criteria_exposure', 'efficiency',
       'tradability', 'fit', 'one_mo_p_percent', 'three_mo_p_percent',
       'ytd_p_percent', 'one_yr_p_percent', 'three_yr_p_percent',
       'five_yr_p_percent', 'ten_yr_p_percent', 'one_mo', 'three_mo', 'ytd',
       'one_yr'],
      dtype='object')

In [ ]:
categoricals.head()

,subs_broad,subs_corporate,subs_extended_market,subs_government,subs_hi_dividend_yield,subs_industry_tech,subs_large_cap,subs_low_carbon,subs_mid_cap,subs_other,...,esg_rating_AAA,esg_rating_B,esg_rating_BB,esg_rating_BBB,esg_rating,grade_A,grade_B,grade_C,grade_D,ticker
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,SPY
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,IVV
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,VOO
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,VTI
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,QQQ

In [ ]:
filters.head()

  invest_strategy asset_class asset_region    subsegment ticker
0        standard      equity    region_us     large_cap    SPY
1        standard      equity    region_us     large_cap    IVV
2        standard      equity    region_us     large_cap    VOO
3        standard      equity    region_us  total_market    VTI
4        standard      equity    region_us     large_cap    QQQ

### drop ticker for imputing

In [ ]:
numericals_trunc = numericals.drop('ticker', axis=1)
numericals_trunc.columns

Index(['one_yr_return', 'expense_ratio', 'aum', 'dividend_yield',
       'quality_score', 'score_peer_rank', 'score_global_rank',
       'carbon_intensity', 'sri_screening_criteria_exposure', 'efficiency',
       'tradability', 'fit', 'one_mo_p_percent', 'three_mo_p_percent',
       'ytd_p_percent', 'one_yr_p_percent', 'three_yr_p_percent',
       'five_yr_p_percent', 'ten_yr_p_percent', 'one_mo', 'three_mo', 'ytd',
       'one_yr'],
      dtype='object')

### impute nan by KNN

In [ ]:
from sklearn.impute import KNNImputer

# Assuming your DataFrame is named 'df'
# If your DataFrame is not already loaded, load it first.

# Create the KNNImputer with the desired number of neighbors (e.g., 5)
imputer = KNNImputer(n_neighbors=5)

# Fit and transform the DataFrame to impute the NaN values
numericals_trunc_imputed = pd.DataFrame(imputer.fit_transform(numericals_trunc), columns=(numericals_trunc.columns))

In [ ]:
numericals_trunc_imputed.isna().sum()

one_yr_return                      0
expense_ratio                      0
aum                                0
dividend_yield                     0
quality_score                      0
score_peer_rank                    0
score_global_rank                  0
carbon_intensity                   0
sri_screening_criteria_exposure    0
efficiency                         0
tradability                        0
fit                                0
one_mo_p_percent                   0
three_mo_p_percent                 0
ytd_p_percent                      0
one_yr_p_percent                   0
three_yr_p_percent                 0
five_yr_p_percent                  0
ten_yr_p_percent                   0
one_mo                             0
three_mo                           0
ytd                                0
one_yr                             0
dtype: int64

In [ ]:
numericals_trunc.describe()

,one_yr_return,expense_ratio,aum,dividend_yield,quality_score,score_peer_rank,score_global_rank,carbon_intensity,sri_screening_criteria_exposure,efficiency,...,three_mo_p_percent,ytd_p_percent,one_yr_p_percent,three_yr_p_percent,five_yr_p_percent,ten_yr_p_percent,one_mo,three_mo,ytd,one_yr
count,2730.000000,3159.000000,3.166000e+03,1669.000000,2080.000000,2080.000000,2040.000000,1991.000000,1669.000000,2112.000000,...,3037.000000,2927.000000,2730.000000,1985.000000,1585.00000,926.000000,2.284000e+03,2.739000e+03,2.933000e+03,3.011000e+03
mean,8.271729,0.554505,2.382096e+09,2.371498,6.238163,49.967620,45.924461,177.399136,7.794482,80.599905,...,7.128663,11.521182,8.271729,6.156554,2.94029,3.485702,2.831472e+07,5.617556e+07,8.977991e+07,1.829495e+08
std,17.543636,0.462484,1.526171e+10,1.795797,0.918509,22.039632,28.495406,158.496751,8.718837,12.825412,...,12.296324,23.814911,17.543636,14.405181,10.49273,11.441559,4.185166e+08,6.072268e+08,9.069674e+08,1.397096e+09
min,-96.490000,0.020000,8.000000e+03,0.000000,1.840000,0.230000,0.070000,1.420000,0.010000,8.000000,...,-72.420000,-86.870000,-96.490000,-85.230000,-76.22000,-77.340000,-4.984350e+09,-3.382570e+09,-8.706910e+09,-1.038009e+10
25%,1.092500,0.290000,2.419750e+07,1.300000,5.720000,33.860000,21.545000,66.865000,3.360000,73.000000,...,1.330000,3.030000,1.092500,0.140000,1.21000,1.450000,-4.095000e+06,-8.590000e+06,-1.087000e+07,-9.150000e+06
50%,9.525000,0.500000,1.128450e+08,1.960000,6.385000,48.385000,43.400000,133.110000,6.270000,82.000000,...,6.260000,9.450000,9.525000,7.720000,4.30000,4.685000,1.005000e+06,5.400000e+05,1.560000e+06,3.810000e+06
75%,15.950000,0.750000,5.855300e+08,3.060000,6.820000,64.142500,69.135000,238.975000,9.580000,91.000000,...,11.470000,15.620000,15.950000,13.570000,8.23000,9.555000,1.241250e+07,2.076000e+07,3.752000e+07,6.111500e+07
max,308.860000,10.920000,4.259800e+11,21.020000,8.770000,99.910000,100.000000,978.030000,98.020000,100.000000,...,134.570000,400.060000,308.860000,79.020000,32.68000,43.740000,9.917650e+09,1.615885e+10,2.322101e+10,3.507396e+10

In [ ]:
numericals_trunc_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   one_yr_return                    3168 non-null   float64
 1   expense_ratio                    3168 non-null   float64
 2   aum                              3168 non-null   float64
 3   dividend_yield                   3168 non-null   float64
 4   quality_score                    3168 non-null   float64
 5   score_peer_rank                  3168 non-null   float64
 6   score_global_rank                3168 non-null   float64
 7   carbon_intensity                 3168 non-null   float64
 8   sri_screening_criteria_exposure  3168 non-null   float64
 9   efficiency                       3168 non-null   float64
 10  tradability                      3168 non-null   float64
 11  fit                              3168 non-null   float64
 12  one_mo_p_percent                 3168 non-null   float64
 13  three_mo_p_percent               3168 non-null   float64
 14  ytd_p_percent                    3168 non-null   float64
 15  one_yr_p_percent                 3168 non-null   float64
 16  three_yr_p_percent               3168 non-null   float64
 17  five_yr_p_percent                3168 non-null   float64
 18  ten_yr_p_percent                 3168 non-null   float64
 19  one_mo                           3168 non-null   float64
 20  three_mo                         3168 non-null   float64
 21  ytd                              3168 non-null   float64
 22  one_yr                           3168 non-null   float64
dtypes: float64(23)
memory usage: 569.4 KB

### reattach ticker on imputed data frame

In [ ]:

def replace_columns(df1, df2):
    # Create a new DataFrame using the first column of df1
    df3 = pd.DataFrame(df1[df1.columns[0]])

    # Replace all other columns of df1 with the corresponding columns from df2
    df3[df2.columns] = df2

    return df3

In [ ]:
numericals_imputed = replace_columns(numericals, numericals_trunc_imputed)
numericals_imputed.head()

,ticker,one_yr_return,expense_ratio,aum,dividend_yield,quality_score,score_peer_rank,score_global_rank,carbon_intensity,sri_screening_criteria_exposure,...,three_mo_p_percent,ytd_p_percent,one_yr_p_percent,three_yr_p_percent,five_yr_p_percent,ten_yr_p_percent,one_mo,three_mo,ytd,one_yr
0,SPY,17.03,0.09,4.259800e+11,1.60,6.68,58.71,47.34,122.31,9.75,...,12.57,20.00,17.03,14.09,11.79,12.48,2.691510e+09,8.169170e+09,1.789010e+09,1.330168e+10
1,IVV,17.08,0.03,3.516200e+11,1.60,6.68,58.67,47.01,122.41,9.67,...,12.61,20.04,17.08,14.15,11.82,12.54,9.267710e+09,1.079041e+10,8.072130e+09,1.406733e+10
2,VOO,17.09,0.03,3.363100e+11,1.60,6.68,58.75,47.99,122.47,9.76,...,12.62,20.09,17.09,14.15,11.82,12.55,9.917650e+09,1.615885e+10,2.322101e+10,3.507396e+10
3,VTI,16.46,0.03,3.196800e+11,1.56,6.52,52.51,24.74,122.61,8.86,...,12.94,19.61,16.46,13.42,10.98,11.98,2.046560e+09,6.017330e+09,9.869710e+09,2.185189e+10
4,QQQ,27.05,0.20,2.093000e+11,0.75,6.71,59.94,55.16,47.01,8.36,...,22.36,42.66,27.05,14.71,16.50,18.66,7.232160e+09,8.995940e+09,4.850110e+09,4.059080e+09

In [ ]:
numericals_imputed.isna().sum()

ticker                             0
one_yr_return                      0
expense_ratio                      0
aum                                0
dividend_yield                     0
quality_score                      0
score_peer_rank                    0
score_global_rank                  0
carbon_intensity                   0
sri_screening_criteria_exposure    0
efficiency                         0
tradability                        0
fit                                0
one_mo_p_percent                   0
three_mo_p_percent                 0
ytd_p_percent                      0
one_yr_p_percent                   0
three_yr_p_percent                 0
five_yr_p_percent                  0
ten_yr_p_percent                   0
one_mo                             0
three_mo                           0
ytd                                0
one_yr                             0
dtype: int64

### merge numericals and categoricals on ticker

In [ ]:
df_input = pd.merge(numericals_imputed, categoricals, how='left', on= 'ticker')
df_input.head()

,ticker,one_yr_return,expense_ratio,aum,dividend_yield,quality_score,score_peer_rank,score_global_rank,carbon_intensity,sri_screening_criteria_exposure,...,esg_rating_AA,esg_rating_AAA,esg_rating_B,esg_rating_BB,esg_rating_BBB,esg_rating,grade_A,grade_B,grade_C,grade_D
0,SPY,17.03,0.09,4.259800e+11,1.60,6.68,58.71,47.34,122.31,9.75,...,0,0,0,0,0,0,1,0,0,0
1,IVV,17.08,0.03,3.516200e+11,1.60,6.68,58.67,47.01,122.41,9.67,...,0,0,0,0,0,0,1,0,0,0
2,VOO,17.09,0.03,3.363100e+11,1.60,6.68,58.75,47.99,122.47,9.76,...,0,0,0,0,0,0,1,0,0,0
3,VTI,16.46,0.03,3.196800e+11,1.56,6.52,52.51,24.74,122.61,8.86,...,0,0,0,0,0,0,1,0,0,0
4,QQQ,27.05,0.20,2.093000e+11,0.75,6.71,59.94,55.16,47.01,8.36,...,0,0,0,0,0,0,1,0,0,0

### scale all numeric columns of df_input and transform to array

In [ ]:
from sklearn.preprocessing import StandardScaler

# Separate numeric and non-numeric columns
numeric_cols = df_input.select_dtypes(include=[np.number]).columns

# Create a StandardScaler object
scaler = StandardScaler()

# Fit and transform the numeric columns to scale/normalize the features
df_input[numeric_cols] = scaler.fit_transform(df_input[numeric_cols])

In [ ]:
stop

NameError: name 'stop' is not defined

### create umap embeddings from input

In [ ]:
import umap

# Create a UMAP object with desired hyperparameters
umap_model = umap.UMAP(n_neighbors=15, min_dist=0.1, n_components=3)

# Fit the UMAP model to the scaled data to obtain embeddings
umap_embeddings = umap_model.fit_transform(df_input[numeric_cols])

# Create a DataFrame to store the UMAP embeddings
umap_data = pd.DataFrame(umap_embeddings, columns=['UMAP1', 'UMAP2', 'UMAP3'])

/opt/homebrew/Caskroom/miniconda/base/envs/umap_env/lib/python3.10/site-packages/umap/distances.py:1063: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/opt/homebrew/Caskroom/miniconda/base/envs/umap_env/lib/python3.10/site-packages/umap/distances.py:1071: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/opt/homebrew/Caskroom/miniconda/base/envs/umap_env/lib/python3.10/site-packages/umap/distances.py:1086: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/opt/homebrew/Caskroom/miniconda/base/envs/umap_env/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/opt/homebrew/Caskroom/miniconda/base/envs/umap_env/lib/python3.10/site-packages/umap/umap_.py:660: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()

In [ ]:
umap_data_3D_plotly = umap_data.to_csv('/Users/kk/Desktop/etf_addendum/Final ETF Table/umap_tables/umap_3D_plotly.csv')

In [ ]:
df_umap = pd.concat([df_input.reset_index(drop=True), umap_data], axis=1)

In [ ]:
df_foo = pd.read_csv('/Users/kk/Desktop/etf_addendum/Final ETF Table/df_dum_raw.csv')

In [ ]:
df_bar = df_foo.iloc[:,[1,6, 7, 14]]
df_bar.head()

In [ ]:
filters = pd.merge(filters, df_bar, how='left', on ='ticker')

In [ ]:
df_umap = pd.merge(df_umap, filters, how='left', on='ticker')

In [ ]:
df_umap.rename(columns= {'esg_rating_x':'esg_rating_CCC', 'esg_rating_y': 'esg_rating'}, inplace=True)
df_umap.columns

In [ ]:
df_umap.esg_rating = df_umap.esg_rating.astype('object') 
df_umap.grade = df_umap.grade.astype('object')

In [ ]:
df_umap.head()

In [ ]:
df_umap['colors_class'] = df_umap['asset_class'].replace({'equity' : '1', 'fixed_income': '2', 'commodities': '3', 'asset_allocation' :'4', 'currency' : '5', 'alternatives': '6'})
df_umap['colors_class'] = df_umap['colors_class'].astype('float')
df_umap['colors_class'].unique()

In [ ]:
df_umap.asset_class.unique()

In [ ]:
df_umap.rename(columns= {'esg_rating_x':'esg_rating_CCC', 'esg_rating_y': 'esg_rating'}, inplace=True)
df_umap.columns

In [ ]:
umap_2d = df_umap.to_csv('/Users/kk/Documents/capstone kris_klewe/umap_2d.csv')

In [ ]:
import bokeh
import selenium
from bokeh.io.export import export_png
from bokeh.plotting import figure, show, output_notebook
from bokeh.transform import linear_cmap
from bokeh.models import ColumnDataSource, ColorBar, HoverTool
from bokeh.palettes import Spectral11
from bokeh.palettes import Plasma6
from bokeh.palettes import Set1
from bokeh.palettes import HighContrast3
from bokeh.palettes import RdYlGn10
from bokeh.palettes import Sunset11
from bokeh.palettes import BrBG11

In [ ]:
# Prepare the ColumnDataSource for the plot
source = ColumnDataSource(df_umap)


# Create a colormap for asset_class based on the unique categories
colors = df_umap['colors_class'].unique()
mapper = linear_cmap(field_name='colors_class', palette=Spectral11, low=min(colors), high=max(colors))

# Create the plot
p = figure(width=800, height=800, title='UMAP Clustering of ETF Data', toolbar_location='left', tools=["hover", "pan", "wheel_zoom", "reset"])

# Add the UMAP embeddings to the plot
scatter = p.scatter(x='UMAP1', y='UMAP2', source=source, size=8, color=mapper, legend_field= 'asset_class')

# Add the color bar for asset_class
color_bar = ColorBar(color_mapper=mapper['transform'], width=8, location=(0,0))
p.add_layout(color_bar, 'right')

#Add the hover tool to display descriptions
hover = HoverTool(tooltips=[("Ticker", "@ticker"),
                            ("Fund Name", "@fundname"),
                            ("One-Year Return", "@one_yr_return"),
                            ("Dividend Yield", "@dividend_yield"),
                            ("ESG rating", "@esg_rating"),
                            ("Carbon Intensity", "@carbon_intensity"),
                            ("Invest Strategy", "@invest_strategy"),
                            ("Asset Class", "@asset_class"),
                            ("Asset Region", "@asset_region"),
                            ("Subsegment", "@subsegment")
                           ])

# Add the hover tool to the plot 'invest_strategy', 'asset_class', 'asset_region', 'subsegment'
p.add_tools(hover)
# Show the plot
#output_file(filename = '/Users/kk/Desktop/', title = 'UMAP Clustering of ETF Data')
output_notebook()  # For Jupyter Notebook, if you are using VS Code, you may need to adjust this
show(p)

----------

In [ ]:
df_umap['colors_esg'] = df_umap['esg_rating'].replace({'AAA': '1', 'AA': '2', 'A': '3', 'BBB' : '4','BB' : '5', 'B' : '6', 'CCC': '7', 'NaN' :'10'})
df_umap['colors_esg'] = df_umap['colors_esg'].astype('float')
df_umap['colors_esg'].describe()

In [ ]:
# Prepare the ColumnDataSource for the plot
source = ColumnDataSource(df_umap)


# Create a colormap for asset_class based on the unique categories
colors = df_umap['colors_esg'].unique()
mapper = linear_cmap(field_name='colors_esg', palette=Sunset11, low=min(colors), high=max(colors))

# Create the plot
p = figure(width=1200, height=1200, title='UMAP Clustering of ETF Data',  background_fill_color= 'black', toolbar_location='left',  tools=["hover", "pan", "wheel_zoom", "reset"])
        

# Add the UMAP embeddings to the plot
scatter = p.scatter(x='UMAP1', y='UMAP2', source=source, size=8, color=mapper, legend_field='esg_rating')

# Add the color bar for asset_class
color_bar = ColorBar(color_mapper=mapper['transform'], width=8, location=(0,0))
p.add_layout(color_bar, 'right')

#Add the hover tool to display descriptions
hover = HoverTool(tooltips=[("Ticker", "@ticker"),
                            ("Fund Name", "@fundname"),
                            ("One-Year Return", "@one_yr_return"),
                            ("Dividend Yield", "@dividend_yield"),
                            ("ESG rating", "@esg_rating"),
                            ("Carbon Intensity", "@carbon_intensity"),
                            ("Invest Strategy", "invest_strategy"),
                            ("Asset Class", "@asset_class"),
                            ("Asset Region", "@asset_region"),
                            ("Subsegment", "@subsegment")
                           ])

# Add the hover tool to the plot 'invest_strategy', 'asset_class', 'asset_region', 'subsegment'
p.add_tools(hover)
# Show the plot
#output_file(filename = '/Users/kk/Desktop/', title = 'UMAP Clustering of ETF Data')
output_notebook()  # For Jupyter Notebook, if you are using VS Code, you may need to adjust this
show(p)

--------------

In [ ]:
x = df_umap['esg_rating'].isna()

In [ ]:
df_umap_with_esg = df_umap.query('esg_rating.isna() == False')

In [ ]:
df_umap_without_esg = df_umap.query('esg_rating.isna() == True')

In [ ]:
df_umap['colors_with'] = df_umap['esg_rating'].replace({'AAA': '1', 'AA': '1', 'A': '1', 'BBB' : '1' , 'BB' : '1', 'B' : '1', 'CCC': '1', np.nan : '2'})
df_umap['colors_with'] = df_umap['colors_with'].astype('float')
df_umap['colors_with'] = df_umap['colors_with'].replace({'1' : 'ESG-rated', '2' : 'not ESG-rated'})

In [ ]:
df_umap.columns

In [ ]:
# Prepare the ColumnDataSource for the plot
source = ColumnDataSource(df_umap)


# Create a colormap for asset_class based on the unique categories
colors = df_umap['colors_with'].unique()
mapper = linear_cmap(field_name='colors_with', palette=HighContrast3, low=min(colors), high=max(colors))

# Create the plot
p = figure(width=800, height=800, title='UMAP Clustering of ETF Data', toolbar_location='left', tools=["hover", "pan", "wheel_zoom", "reset"])

# Add the UMAP embeddings to the plot
scatter = p.scatter(x='UMAP1', y='UMAP2', source=source, size=8, color=mapper, legend_field= 'colors_with')

# Add the color bar for asset_class
color_bar = ColorBar(color_mapper=mapper['transform'], width=8, location=(0,0))
p.add_layout(color_bar, 'right')

#Add the hover tool to display descriptions
hover = HoverTool(tooltips=[("Ticker", "@ticker"),
                            ("Fund Name", "@fundname"),
                            ("One-Year Return", "@one_yr_return"),
                            ("Dividend Yield", "@dividend_yield"),
                            ("ESG rating", "@esg_rating"),
                            ("Carbon Intensity", "@carbon_intensity"),
                            ("Invest Strategy", "@invest_strategy"),
                            ("Asset Class", "@asset_class"),
                            ("Asset Region", "@asset_region"),
                            ("Subsegment", "@subsegment")
                           ])

# Add the hover tool to the plot 'invest_strategy', 'asset_class', 'asset_region', 'subsegment'
p.add_tools(hover)
# Show the plot

output_notebook()  # For Jupyter Notebook, if you are using VS Code, you may need to adjust this
show(p)

---------------

In [ ]:
df_umap.asset_region.unique()

In [ ]:
df_umap['colors_reg'] = df_umap['asset_region'].replace({'region_us' : '1', 'region_dev_markets' : '2', 'region_emerg_markets' : '3',
       'region_global' : '4', 'region_europe' : '5', 'region_asia_pacific_wo_brics' : '6',
       'region_brics' : '7', 'region_america_wo_us' : '8', 'region_mid_east' : '9',
       'region_africa_wo_brics' : '10'})
df_umap['colors_reg'] = df_umap['colors_reg'].astype('float')

In [ ]:
# Prepare the ColumnDataSource for the plot
source = ColumnDataSource(df_umap)


# Create a colormap for asset_class based on the unique categories
colors = df_umap['colors_reg'].unique()
mapper = linear_cmap(field_name='colors_reg', palette=BrBG11, low=min(colors), high=max(colors))

# Create the plot
p = figure(width=800, height=800, title='UMAP Clustering of ETF Data',background_fill_color= 'white', toolbar_location='left', tools=["hover", "pan", "wheel_zoom", "reset"])

# Add the UMAP embeddings to the plot
scatter = p.scatter(x='UMAP1', y='UMAP2', source=source, size=8, color=mapper, legend_field= 'asset_region')

# Add the color bar for asset_class
color_bar = ColorBar(color_mapper=mapper['transform'], width=8, location=(0,0))
p.add_layout(color_bar, 'right')

#Add the hover tool to display descriptions
hover = HoverTool(tooltips=[("Ticker", "@ticker"),
                            ("Fund Name", "@fundname"),
                            ("One-Year Return", "@one_yr_return"),
                            ("Dividend Yield", "@dividend_yield"),
                            ("ESG rating", "@esg_rating"),
                            ("Carbon Intensity", "@carbon_intensity"),
                            ("Invest Strategy", "@invest_strategy"),
                            ("Asset Class", "@asset_class"),
                            ("Asset Region", "@asset_region"),
                            ("Subsegment", "@subsegment")
                           ])

# Add the hover tool to the plot 'invest_strategy', 'asset_class', 'asset_region', 'subsegment'
p.add_tools(hover)
# Show the plot

output_notebook()  # For Jupyter Notebook, if you are using VS Code, you may need to adjust this
show(p)

---------------

In [ ]:
output_filename = '/Users/kk/Documents/capstone kris_klewe/images/umap_esg-bool_plot_3.png'
export_png(p, filename=output_filename)

In [ ]:
from bokeh.io import output_file
from bokeh.embed import file_html

# Set the output file name
output_filename = 'interactive_umap_plot.html'

# Save the plot as an HTML file
output_file(output_filename)

# Show the plot
show(p)

# Optionally, you can also generate the HTML content as a string
html_content = file_html(p, CDN)

# If you want to write the HTML content to a file instead:
# with open(output_filename, 'w') as f:
#     f.write(html_content)

In [ ]:
from bokeh.server.server import Server

# Function to create and return the Bokeh plot
def create_plot():
    # ... (Your plot creation code as in your previous message)

    return p

# Function to modify the plot (if needed) - you can add your UMAP clustering here
def update_plot():
    # ... (Your update code if necessary)

# Start the Bokeh server
server = Server({'/': create_plot}, num_procs=1)
server.start()

# Add periodic callback to update the plot (if needed)
server.io_loop.add_callback(update_plot)

# Open the Bokeh app in a new browser tab
server.show('http://localhost:5006/./')

In [ ]:
from bokeh.io import output_file, show
from bokeh.embed import file_html

# Function to create and return the Bokeh plot
def create_plot():
    # ... (Your plot creation code as in your previous message)

    return p

# Set the output file name
output_filename = 'interactive_umap_plot_2.html'

# Save the plot as an HTML file
output_file(output_filename)

# Show the plot
p = create_plot()
show(p)

# Optionally, you can also generate the HTML content as a string
# html_content = file_html(p, CDN)

# If you want to write the HTML content to a file instead:
# with open(output_filename, 'w') as f:
#     f.write(html_content)