# Basics

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import sqlalchemy
import psycopg2
import sql_functions
from sql_functions import get_engine

In [2]:
a=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-43-37-27-2023-07.csv')
b=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-43-42-27-2023-07.csv')
c=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-43-47-27-2023-07.csv')
d=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-31-27-2023-07.csv')
e=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-34-27-2023-07.csv')
f=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-37-27-2023-07.csv')
g=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-40-27-2023-07.csv')
h=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-44-27-2023-07.csv')
i=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-50-27-2023-07.csv')
j=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-52-27-2023-07.csv')
k=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-55-27-2023-07.csv')
l=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-44-57-27-2023-07.csv')
m=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-00-27-2023-07.csv')
n=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-03-27-2023-07.csv')
o=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-06-27-2023-07.csv')
p=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-09-27-2023-07.csv')
q=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-13-27-2023-07.csv')
r=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-17-27-2023-07.csv')
s=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-20-27-2023-07.csv')
t=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-22-27-2023-07.csv')
u=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-25-27-2023-07.csv')
v=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-28-27-2023-07.csv')
w=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-31-27-2023-07.csv')
x=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-34-27-2023-07.csv')
y=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-37-27-2023-07.csv')
z=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-40-27-2023-07.csv')
aa=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-43-27-2023-07.csv')
ab=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-46-27-2023-07.csv')
ac=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-50-27-2023-07.csv')
ad=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-55-27-2023-07.csv')
ae=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-45-58-27-2023-07.csv')
af=pd.read_csv('/Users/kk/Desktop/etf_addendum/basics/screener-output-table-16-46-02-27-2023-07.csv')

In [3]:
# combine dfs in a list
list_of_dfs = (a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af)

# Concatenate df along the rows
df_basics = pd.concat(list_of_dfs)

# Reset the index after concatenation 
df_basics.reset_index(drop=True, inplace=True)

# Display first few rows of the merged DataFrame
df_basics = pd.DataFrame(df_basics)
#df_esg.columns = df_esg.columns.str.replace(' ', '')

df_basics.head()

,Ticker,Fund Name,Segment,1 YR Return,Expense Ratio,AUM
0,SPY,SPDR S&P 500 ETF Trust,Equity: U.S. - Large Cap,17.03%,0.09%,$425.98B
1,IVV,iShares Core S&P 500 ETF,Equity: U.S. - Large Cap,17.08%,0.03%,$351.62B
2,VOO,Vanguard 500 Index Fund,Equity: U.S. - Large Cap,17.09%,0.03%,$336.31B
3,VTI,Vanguard Total Stock Market ETF,Equity: U.S. - Total Market,16.46%,0.03%,$319.68B
4,QQQ,Invesco QQQ Trust,Equity: U.S. - Large Cap,27.05%,0.20%,$209.30B

In [4]:
df_basics.shape

(3168, 6)

In [5]:
df_basics.columns = df_basics.columns.str.lower().str.replace(" ", "_")

df_basics.head()

,ticker,fund_name,segment,1_yr_return,expense_ratio,aum
0,SPY,SPDR S&P 500 ETF Trust,Equity: U.S. - Large Cap,17.03%,0.09%,$425.98B
1,IVV,iShares Core S&P 500 ETF,Equity: U.S. - Large Cap,17.08%,0.03%,$351.62B
2,VOO,Vanguard 500 Index Fund,Equity: U.S. - Large Cap,17.09%,0.03%,$336.31B
3,VTI,Vanguard Total Stock Market ETF,Equity: U.S. - Total Market,16.46%,0.03%,$319.68B
4,QQQ,Invesco QQQ Trust,Equity: U.S. - Large Cap,27.05%,0.20%,$209.30B

In [6]:
df_basics['1_yr_return'] = df_basics['1_yr_return'].str.replace("%", "")
df_basics['expense_ratio'] = df_basics['expense_ratio'].str.replace("%", "")
df_basics['aum'] = df_basics['aum'].str.replace("$", "")
df_basics['aum'] = df_basics['aum'].str.replace(".", "")
df_basics['aum'] = df_basics['aum'].str.replace("K", "000")
df_basics['aum'] = df_basics['aum'].str.replace("M", "000000")
df_basics['aum'] = df_basics['aum'].str.replace("B", "000000000")


df_basics.head()

,ticker,fund_name,segment,1_yr_return,expense_ratio,aum
0,SPY,SPDR S&P 500 ETF Trust,Equity: U.S. - Large Cap,17.03,0.09,42598000000000
1,IVV,iShares Core S&P 500 ETF,Equity: U.S. - Large Cap,17.08,0.03,35162000000000
2,VOO,Vanguard 500 Index Fund,Equity: U.S. - Large Cap,17.09,0.03,33631000000000
3,VTI,Vanguard Total Stock Market ETF,Equity: U.S. - Total Market,16.46,0.03,31968000000000
4,QQQ,Invesco QQQ Trust,Equity: U.S. - Large Cap,27.05,0.20,20930000000000

In [7]:
df_basics = df_basics.rename(columns={'1_yr_return' : 'one_yr_return', 'expense_ratio_%': 'expense_ratio_percent', 'aum_%' : 'aum_percent'})

In [8]:
# replace all -- with NaN
df_basics = df_basics.replace("--", "NaN")

In [9]:
df_basics.head()

,ticker,fund_name,segment,one_yr_return,expense_ratio,aum
0,SPY,SPDR S&P 500 ETF Trust,Equity: U.S. - Large Cap,17.03,0.09,42598000000000
1,IVV,iShares Core S&P 500 ETF,Equity: U.S. - Large Cap,17.08,0.03,35162000000000
2,VOO,Vanguard 500 Index Fund,Equity: U.S. - Large Cap,17.09,0.03,33631000000000
3,VTI,Vanguard Total Stock Market ETF,Equity: U.S. - Total Market,16.46,0.03,31968000000000
4,QQQ,Invesco QQQ Trust,Equity: U.S. - Large Cap,27.05,0.20,20930000000000

In [10]:
#set dtypes
df_basics['ticker'] = df_basics['ticker'].astype('object')
df_basics['fund_name'] = df_basics['fund_name'].astype('object')
df_basics['segment'] = df_basics['segment'].astype('object')
df_basics.one_yr_return = df_basics.one_yr_return.astype('float')
df_basics['expense_ratio'] = df_basics['expense_ratio'].astype('float')
df_basics['aum'] = df_basics['aum'].astype('float')

In [11]:
df_basics_etf = df_basics

-------

In [12]:
table_name = 'df_basics_etf'

In [13]:
import psycopg2
# Import get_dataframe function from the sql module
from sql_functions import get_dataframe

In [14]:

# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine

In [15]:
# create a variable called engine using the get_engine function
engine = get_engine()

In [16]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_basics_etf.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema='public', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The df_basics_etf table was imported successfully.

In [17]:
df_basics

,ticker,fund_name,segment,one_yr_return,expense_ratio,aum
0,SPY,SPDR S&P 500 ETF Trust,Equity: U.S. - Large Cap,17.03,0.09,4.259800e+13
1,IVV,iShares Core S&P 500 ETF,Equity: U.S. - Large Cap,17.08,0.03,3.516200e+13
2,VOO,Vanguard 500 Index Fund,Equity: U.S. - Large Cap,17.09,0.03,3.363100e+13
3,VTI,Vanguard Total Stock Market ETF,Equity: U.S. - Total Market,16.46,0.03,3.196800e+13
4,QQQ,Invesco QQQ Trust,Equity: U.S. - Large Cap,27.05,0.20,2.093000e+13
...,...,...,...,...,...,...
3163,AVNM,Avantis All International Markets Equity ETF,Equity: Global Ex-U.S. - Total Market,NaN,0.31,2.627800e+07
3164,SPKY,ConvexityShares Daily 1.5x SPIKES Futures ETF,Leveraged Alternatives:Volatility S&P 500 Shor...,NaN,0.79,2.460500e+07
3165,FLRU,Franklin FTSE Russia ETF,Equity: Russia - Total Market,NaN,0.19,8.000000e+05
3166,SROI,Calamos Antetokounmpo Global Sustainable Equit...,Equity: Global - Total Market,NaN,0.95,NaN
3167,CETF,DriveWealth ICE 100 Index ETF,Asset Allocation: Global - Target Outcome,NaN,0.85,NaN