# Dividend

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import sqlalchemy
import psycopg2
import sql_functions
from sql_functions import get_engine

In [3]:
a=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-11-27-2023-07.csv')
b=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-15-27-2023-07.csv')
c=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-17-27-2023-07.csv')
d=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-21-27-2023-07.csv')
e=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-24-27-2023-07.csv')
f=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-27-27-2023-07.csv')
g=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-30-27-2023-07.csv')
h=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-34-27-2023-07.csv')
i=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-37-27-2023-07.csv')
j=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-39-27-2023-07.csv')
k=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-43-27-2023-07.csv')
l=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-48-27-2023-07.csv')
m=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-52-27-2023-07.csv')
n=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-56-27-2023-07.csv')
o=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-57-59-27-2023-07.csv')
p=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-03-27-2023-07.csv')
q=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-06-27-2023-07.csv')
r=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-10-27-2023-07.csv')
s=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-14-27-2023-07.csv')
t=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-17-27-2023-07.csv')
u=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-20-27-2023-07.csv')
v=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-23-27-2023-07.csv')
w=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-27-27-2023-07.csv')
x=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-30-27-2023-07.csv')
y=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-33-27-2023-07.csv')
z=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-36-27-2023-07.csv')
aa=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-39-27-2023-07.csv')
ab=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-43-27-2023-07.csv')
ac=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-47-27-2023-07.csv')
ad=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-58-54-27-2023-07.csv')
ae=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-59-01-27-2023-07.csv')
af=pd.read_csv('/Users/kk/Desktop/etf_addendum/fundamentals/screener-output-table-16-59-06-27-2023-07.csv')

In [4]:
# combine dfs in a list
list_of_dfs = (a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af)

# Concatenate df along the rows
df_dividend = pd.concat(list_of_dfs)

# Reset the index after concatenation 
df_dividend.reset_index(drop=True, inplace=True)

# Display first few rows of the merged DataFrame
df_dividend = pd.DataFrame(df_dividend)
#df_esg.columns = df_esg.columns.str.replace(' ', '')

df_dividend.head()

  Ticker                        Fund Name Dividend Yield  EQUITY  FIXED INCOME
0    SPY           SPDR S&P 500 ETF Trust          1.60%     NaN           NaN
1    IVV         iShares Core S&P 500 ETF          1.60%     NaN           NaN
2    VOO          Vanguard 500 Index Fund          1.60%     NaN           NaN
3    VTI  Vanguard Total Stock Market ETF          1.56%     NaN           NaN
4    QQQ                Invesco QQQ Trust          0.75%     NaN           NaN

In [5]:
# snake_case

df_dividend.columns = df_dividend.columns.str.lower().str.replace(" ", "_")

df_dividend.head()

  ticker                        fund_name dividend_yield  equity  fixed_income
0    SPY           SPDR S&P 500 ETF Trust          1.60%     NaN           NaN
1    IVV         iShares Core S&P 500 ETF          1.60%     NaN           NaN
2    VOO          Vanguard 500 Index Fund          1.60%     NaN           NaN
3    VTI  Vanguard Total Stock Market ETF          1.56%     NaN           NaN
4    QQQ                Invesco QQQ Trust          0.75%     NaN           NaN

In [6]:
# replace all -- with NaN
df_dividend.dividend_yield = df_dividend.dividend_yield.str.replace("--", "NaN")
df_dividend.dividend_yield = df_dividend.dividend_yield.str.replace("%", "")

In [7]:
df_dividend =df_dividend.drop('fixed_income', axis=1)
df_dividend =df_dividend.drop('equity', axis=1)
df_dividend.head()

  ticker                        fund_name dividend_yield
0    SPY           SPDR S&P 500 ETF Trust           1.60
1    IVV         iShares Core S&P 500 ETF           1.60
2    VOO          Vanguard 500 Index Fund           1.60
3    VTI  Vanguard Total Stock Market ETF           1.56
4    QQQ                Invesco QQQ Trust           0.75

In [16]:
df_dividend_etf = df_dividend

In [15]:
df_dividend.shape

(3168, 3)

---------

In [14]:
table_name = 'df_dividend_etf'

In [11]:
import psycopg2
# Import get_dataframe function from the sql module
from sql_functions import get_dataframe

In [12]:
# create a variable called engine using the get_engine function
engine = get_engine()

In [ ]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_dividend_etf.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema='public', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')