# Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import sqlalchemy
import psycopg2
import sql_functions
from sql_functions import get_engine

In [2]:
a=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-06-27-2023-07.csv')
b=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-11-27-2023-07.csv')
c=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-15-27-2023-07.csv')
d=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-18-27-2023-07.csv')
e=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-22-27-2023-07.csv')
f=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-24-27-2023-07.csv')
g=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-28-27-2023-07.csv')
h=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-31-27-2023-07.csv')
i=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-34-27-2023-07.csv')
j=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-38-27-2023-07.csv')
k=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-41-27-2023-07.csv')
l=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-45-27-2023-07.csv')
m=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-48-27-2023-07.csv')
n=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-51-27-2023-07.csv')
o=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-54-27-2023-07.csv')
p=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-54-57-27-2023-07.csv')
q=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-01-27-2023-07.csv')
r=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-05-27-2023-07.csv')
s=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-09-27-2023-07.csv')
t=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-13-27-2023-07.csv')
u=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-16-27-2023-07.csv')
v=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-19-27-2023-07.csv')
w=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-23-27-2023-07.csv')
x=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-26-27-2023-07.csv')
y=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-29-27-2023-07.csv')
z=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-32-27-2023-07.csv')
aa=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-35-27-2023-07.csv')
ab=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-38-27-2023-07.csv')
ac=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-41-27-2023-07.csv')
ad=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-45-27-2023-07.csv')
ae=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-55-48-27-2023-07.csv')
af=pd.read_csv('/Users/kk/Desktop/etf_addendum/analysis/screener-output-table-16-56-02-27-2023-07.csv')

In [3]:
# combine dfs in a list
list_of_dfs = (a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af)

# Concatenate df along the rows
df_analysis = pd.concat(list_of_dfs)

# Reset the index after concatenation 
df_analysis.reset_index(drop=True, inplace=True)

# Display first few rows of the merged DataFrame
df_analysis = pd.DataFrame(df_analysis)
#df_esg.columns = df_esg.columns.str.replace(' ', '')

df_analysis.head()

,Ticker,Fund Name,Analyst Pick,Grade,Efficiency,Tradability,Fit,Segment
0,SPY,SPDR S&P 500 ETF Trust,No,A,99,100,96,Equity: U.S. - Large Cap
1,IVV,iShares Core S&P 500 ETF,No,A,100,100,96,Equity: U.S. - Large Cap
2,VOO,Vanguard 500 Index Fund,No,A,99,100,96,Equity: U.S. - Large Cap
3,VTI,Vanguard Total Stock Market ETF,Yes,A,99,100,99,Equity: U.S. - Total Market
4,QQQ,Invesco QQQ Trust,No,A,97,100,67,Equity: U.S. - Large Cap

In [4]:
# snake_case

df_analysis.columns = df_analysis.columns.str.lower().str.replace(" ", "_")

df_analysis.head()

,ticker,fund_name,analyst_pick,grade,efficiency,tradability,fit,segment
0,SPY,SPDR S&P 500 ETF Trust,No,A,99,100,96,Equity: U.S. - Large Cap
1,IVV,iShares Core S&P 500 ETF,No,A,100,100,96,Equity: U.S. - Large Cap
2,VOO,Vanguard 500 Index Fund,No,A,99,100,96,Equity: U.S. - Large Cap
3,VTI,Vanguard Total Stock Market ETF,Yes,A,99,100,99,Equity: U.S. - Total Market
4,QQQ,Invesco QQQ Trust,No,A,97,100,67,Equity: U.S. - Large Cap

In [5]:
df_analysis.dtypes

ticker          object
fund_name       object
analyst_pick    object
grade           object
efficiency      object
tradability     object
fit             object
segment         object
dtype: object

In [6]:
# replace all -- with NaN
df_analysis = df_analysis.replace("--", "NaN")

In [7]:

df_analysis['ticker'] = df_analysis['ticker'].astype("object")
df_analysis['fund_name'] = df_analysis['fund_name'].astype("object")
df_analysis['analyst_pick'] = df_analysis['analyst_pick'].astype('bool')
df_analysis['grade'] = df_analysis['grade'].astype("object")
df_analysis['efficiency'] = df_analysis['efficiency'].astype("float")
df_analysis['tradability'] = df_analysis['tradability'].astype("float")
df_analysis['fit'] = df_analysis['fit'].astype("float")
df_analysis['segment'] = df_analysis['segment'].astype("object")

df_analysis.head()

,ticker,fund_name,analyst_pick,grade,efficiency,tradability,fit,segment
0,SPY,SPDR S&P 500 ETF Trust,True,A,99.0,100.0,96.0,Equity: U.S. - Large Cap
1,IVV,iShares Core S&P 500 ETF,True,A,100.0,100.0,96.0,Equity: U.S. - Large Cap
2,VOO,Vanguard 500 Index Fund,True,A,99.0,100.0,96.0,Equity: U.S. - Large Cap
3,VTI,Vanguard Total Stock Market ETF,True,A,99.0,100.0,99.0,Equity: U.S. - Total Market
4,QQQ,Invesco QQQ Trust,True,A,97.0,100.0,67.0,Equity: U.S. - Large Cap

In [8]:
df_analysis_etf = df_analysis

In [9]:
df_analysis.shape

(3168, 8)

----------

In [10]:
table_name = 'df_analysis_etf'

In [11]:
import psycopg2
# Import get_dataframe function from the sql module
from sql_functions import get_dataframe

In [12]:

# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine

In [13]:
# create a variable called engine using the get_engine function
engine = get_engine()

In [14]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_analysis_etf.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema='public', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The df_analysis_etf table was imported successfully.