# Fund Flows

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import sqlalchemy
import psycopg2
import sql_functions
from sql_functions import get_engine

In [2]:
a=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-00-35-27-2023-07.csv')
b=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-00-59-27-2023-07.csv')
c=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-01-27-2023-07.csv')
d=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-04-27-2023-07.csv')
e=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-07-27-2023-07.csv')
f=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-10-27-2023-07.csv')
g=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-13-27-2023-07.csv')
h=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-16-27-2023-07.csv')
i=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-20-27-2023-07.csv')
j=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-23-27-2023-07.csv')
k=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-25-27-2023-07.csv')
l=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-28-27-2023-07.csv')
m=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-31-27-2023-07.csv')
n=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-34-27-2023-07.csv')
o=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-37-27-2023-07.csv')
p=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-41-27-2023-07.csv')
q=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-44-27-2023-07.csv')
r=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-47-27-2023-07.csv')
s=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-49-27-2023-07.csv')
t=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-52-27-2023-07.csv')
u=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-55-27-2023-07.csv')
v=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-01-59-27-2023-07.csv')
w=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-02-27-2023-07.csv')
x=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-05-27-2023-07.csv')
y=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-08-27-2023-07.csv')
z=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-11-27-2023-07.csv')
aa=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-14-27-2023-07.csv')
ab=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-17-27-2023-07.csv')
ac=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-22-27-2023-07.csv')
ad=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-25-27-2023-07.csv')
ae=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-28-27-2023-07.csv')
af=pd.read_csv('/Users/kk/Desktop/etf_addendum/fund flows/screener-output-table-17-02-34-27-2023-07.csv')

In [3]:
# combine dfs in a list
list_of_dfs = (a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af)

# Concatenate df along the rows
df_fundflow = pd.concat(list_of_dfs)

# Reset the index after concatenation 
df_fundflow.reset_index(drop=True, inplace=True)

# Display first few rows of the merged DataFrame
df_fundflow = pd.DataFrame(df_fundflow)
#df_esg.columns = df_esg.columns.str.replace(' ', '')

df_fundflow.head()

,Ticker,Fund Name,1 MO,3 MO,YTD,1 YR,3 YR,As Of Date
0,SPY,SPDR S&P 500 ETF Trust,"$2,691.51M","$8,169.17M","$1,789.01M","$13,301.68M","$22,741.63M",07/25/2023
1,IVV,iShares Core S&P 500 ETF,"$9,267.71M","$10,790.41M","$8,072.13M","$14,067.33M","$60,431.07M",07/25/2023
2,VOO,Vanguard 500 Index Fund,"$9,917.65M","$16,158.85M","$23,221.01M","$35,073.96M","$110,267.64M",07/25/2023
3,VTI,Vanguard Total Stock Market ETF,"$2,046.56M","$6,017.33M","$9,869.71M","$21,851.89M","$100,791.26M",07/25/2023
4,QQQ,Invesco QQQ Trust,"$7,232.16M","$8,995.94M","$4,850.11M","$4,059.08M","$34,132.48M",07/25/2023

In [4]:
# snake_case

df_fundflow.columns = df_fundflow.columns.str.lower().str.replace(" ", "_")

df_fundflow.head()

,ticker,fund_name,1_mo,3_mo,ytd,1_yr,3_yr,as_of_date
0,SPY,SPDR S&P 500 ETF Trust,"$2,691.51M","$8,169.17M","$1,789.01M","$13,301.68M","$22,741.63M",07/25/2023
1,IVV,iShares Core S&P 500 ETF,"$9,267.71M","$10,790.41M","$8,072.13M","$14,067.33M","$60,431.07M",07/25/2023
2,VOO,Vanguard 500 Index Fund,"$9,917.65M","$16,158.85M","$23,221.01M","$35,073.96M","$110,267.64M",07/25/2023
3,VTI,Vanguard Total Stock Market ETF,"$2,046.56M","$6,017.33M","$9,869.71M","$21,851.89M","$100,791.26M",07/25/2023
4,QQQ,Invesco QQQ Trust,"$7,232.16M","$8,995.94M","$4,850.11M","$4,059.08M","$34,132.48M",07/25/2023

In [5]:
# replace all -- with NaN
df_fundflow = df_fundflow.replace("--", "NaN")

In [6]:
# delete $

df_fundflow['1_mo'] = df_fundflow['1_mo'].str.replace("$", "")
df_fundflow['3_mo'] = df_fundflow['3_mo'].str.replace("$", "")
df_fundflow.ytd = df_fundflow.ytd.str.replace("$", "")
df_fundflow['1_yr'] = df_fundflow['1_yr'].str.replace("$", "")
df_fundflow['3_yr'] = df_fundflow['3_yr'].str.replace("$", "")
df_fundflow['as_of_date'] = df_fundflow['as_of_date'].str.replace("$", "")

# delete ,
df_fundflow['1_mo'] = df_fundflow['1_mo'].str.replace(",", "")
df_fundflow['3_mo'] = df_fundflow['3_mo'].str.replace(",", "")
df_fundflow.ytd = df_fundflow.ytd.str.replace(",", "")
df_fundflow['1_yr'] = df_fundflow['1_yr'].str.replace(",", "")
df_fundflow['3_yr'] = df_fundflow['3_yr'].str.replace(",", "")

# delete .
df_fundflow['1_mo'] = df_fundflow['1_mo'].str.replace(".", "")
df_fundflow['3_mo'] = df_fundflow['3_mo'].str.replace(".", "")
df_fundflow.ytd = df_fundflow.ytd.str.replace(".", "")
df_fundflow['1_yr'] = df_fundflow['1_yr'].str.replace(".", "")
df_fundflow['3_yr'] = df_fundflow['3_yr'].str.replace(".", "")

# K -> 1000 
df_fundflow['1_mo'] = df_fundflow['1_mo'].str.replace("K", "000")
df_fundflow['3_mo'] = df_fundflow['3_mo'].str.replace("K", "000")
df_fundflow.ytd = df_fundflow.ytd.str.replace("K", "000")
df_fundflow['1_yr'] = df_fundflow['1_yr'].str.replace("K", "000")
df_fundflow['3_yr'] = df_fundflow['3_yr'].str.replace("K", "000")
df_fundflow['as_of_date'] = df_fundflow['as_of_date'].str.replace("K", "000")

# M -> 1000000 
df_fundflow['1_mo'] = df_fundflow['1_mo'].str.replace("M", "000000")
df_fundflow['3_mo'] = df_fundflow['3_mo'].str.replace("M", "000000")
df_fundflow.ytd = df_fundflow.ytd.str.replace("M", "000000")
df_fundflow['1_yr'] = df_fundflow['1_yr'].str.replace("M", "000000")
df_fundflow['3_yr'] = df_fundflow['3_yr'].str.replace("M", "000000")
df_fundflow['as_of_date'] = df_fundflow['as_of_date'].str.replace("M", "000000")

# B -> 1000000000 
df_fundflow['1_mo'] = df_fundflow['1_mo'].str.replace("B", "000000000")
df_fundflow['3_mo'] = df_fundflow['3_mo'].str.replace("B", "000000000")
df_fundflow.ytd = df_fundflow.ytd.str.replace("B", "000000000")
df_fundflow['1_yr'] = df_fundflow['1_yr'].str.replace("B", "000000000")
df_fundflow['3_yr'] = df_fundflow['3_yr'].str.replace("B", "000000000")
df_fundflow['as_of_date'] = df_fundflow['as_of_date'].str.replace("B", "000000000")

df_fundflow.head()

,ticker,fund_name,1_mo,3_mo,ytd,1_yr,3_yr,as_of_date
0,SPY,SPDR S&P 500 ETF Trust,269151000000,816917000000,178901000000,1330168000000,2274163000000,07/25/2023
1,IVV,iShares Core S&P 500 ETF,926771000000,1079041000000,807213000000,1406733000000,6043107000000,07/25/2023
2,VOO,Vanguard 500 Index Fund,991765000000,1615885000000,2322101000000,3507396000000,11026764000000,07/25/2023
3,VTI,Vanguard Total Stock Market ETF,204656000000,601733000000,986971000000,2185189000000,10079126000000,07/25/2023
4,QQQ,Invesco QQQ Trust,723216000000,899594000000,485011000000,405908000000,3413248000000,07/25/2023

In [7]:
from datetime import datetime

df_fundflow['ticker'] = df_fundflow['ticker'].astype("object")
df_fundflow['fund_name'] = df_fundflow['fund_name'].astype("object")
df_fundflow['1_mo'] = df_fundflow['1_mo'].astype("float")
df_fundflow['3_mo'] = df_fundflow['3_mo'].astype("float")
df_fundflow.ytd = df_fundflow.ytd.astype("float")
df_fundflow['1_yr'] = df_fundflow['1_yr'].astype("float")
df_fundflow['3_yr'] = df_fundflow['3_yr'].astype("float")
df_fundflow['as_of_date'] = pd.to_datetime(df_fundflow['as_of_date'])

df_fundflow.head()

,ticker,fund_name,1_mo,3_mo,ytd,1_yr,3_yr,as_of_date
0,SPY,SPDR S&P 500 ETF Trust,2.691510e+11,8.169170e+11,1.789010e+11,1.330168e+12,2.274163e+12,2023-07-25
1,IVV,iShares Core S&P 500 ETF,9.267710e+11,1.079041e+12,8.072130e+11,1.406733e+12,6.043107e+12,2023-07-25
2,VOO,Vanguard 500 Index Fund,9.917650e+11,1.615885e+12,2.322101e+12,3.507396e+12,1.102676e+13,2023-07-25
3,VTI,Vanguard Total Stock Market ETF,2.046560e+11,6.017330e+11,9.869710e+11,2.185189e+12,1.007913e+13,2023-07-25
4,QQQ,Invesco QQQ Trust,7.232160e+11,8.995940e+11,4.850110e+11,4.059080e+11,3.413248e+12,2023-07-25

In [8]:
df_fundflow_etf = df_fundflow

In [15]:
df_fundflow.shape

(3168, 8)

-------

In [9]:
table_name = 'df_fundflow_etf'

In [10]:
table_name

'df_fundflow_etf'

In [11]:
import psycopg2
# Import get_dataframe function from the sql module
from sql_functions import get_dataframe

In [12]:

# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine

In [13]:
# create a variable called engine using the get_engine function
engine = get_engine()

In [14]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_fundflow_etf.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema='public', # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The df_fundflow_etf table was imported successfully.