In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import statsmodels

In [3]:
esg_data = pd.read_parquet('/Users/kk/Desktop/etf_addendum/df_esg_etf.parquet')
basics_data =pd.read_parquet('/Users/kk/Desktop/etf_addendum/df_basics_etf.parquet')
analysis_data = pd.read_parquet('/Users/kk/Desktop/etf_addendum/df_analysis_etf.parquet')
dividend_data = pd.read_parquet('/Users/kk/Desktop/etf_addendum/df_dividend_etf.parquet')
fundflow_data = pd.read_parquet('/Users/kk/Desktop/etf_addendum/df_fundflow_etf.parquet')
performance_data = pd.read_parquet('/Users/kk/Desktop/etf_addendum/df_performance_etf.parquet')

In [13]:


p_list = [df['one_mo_p_percent'], df['three_mo_p_percent'], df['ytd_p_percent'], df['one_yr_p_percent'], df['three_yr_p_percent'], df['five_yr_p_percent'], df['ten_yr_p_percent'], df['as_of_date_p']]

df_p = pd.concat(p_list, axis=1).reset_index(drop=True)

def p_mean(df):
    ls = []
    df.mean = pd.concat([], axis=1).mean()
    for ticker in df.mean:
        ls.append(df.mean[ticker])
    return ls

df=performance_data

p_mean[ticker, df.mean[ticker]]

p_mean.head()

NameError: name 'ticker' is not defined

In [11]:
df_mean= df[ticker, pmean[ticker]] for ticker in df.ticker

,one_mo_p_percent,three_mo_p_percent,ytd_p_percent,one_yr_p_percent,three_yr_p_percent,five_yr_p_percent,ten_yr_p_percent,as_of_date_p
0,5.13,12.57,20.00,17.03,14.09,11.79,12.48,2023-07-25
1,5.14,12.61,20.04,17.08,14.15,11.82,12.54,2023-07-25
2,5.15,12.62,20.09,17.09,14.15,11.82,12.55,2023-07-25
3,5.56,12.94,19.61,16.46,13.42,10.98,11.98,2023-07-25
4,4.48,22.36,42.66,27.05,14.71,16.50,18.66,2023-07-25
...,...,...,...,...,...,...,...,...
3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-25
3164,-17.10,-58.45,-74.30,NaN,NaN,NaN,NaN,2023-07-25
3165,NaN,NaN,NaN,NaN,-24.56,-13.17,NaN,2023-07-24
3166,4.45,7.88,NaN,NaN,NaN,NaN,NaN,2023-07-25
3167,3.14,4.65,NaN,NaN,NaN,NaN,NaN,2023-07-25

In [ ]:
basics_data.aum = basics_data.aum/100
basics_data.head()

In [ ]:
analysis_data.head()

In [ ]:
performance_data.head()

In [ ]:
fundflow_data.head()

In [ ]:
dividend_data.head()

In [ ]:
dividend_data = dividend_data.drop('fund_name', axis=1)
dividend_data.head()

In [ ]:
basics_data.head()

In [ ]:
#fundflow_data.drop('fund_name', axis=1, inplace=True)
#analysis_data.drop('fund_name', axis=1, inplace=True)
#performance_data.drop('fund_name', axis=1, inplace=True)
basics_data.drop('fund_name',axis=1, inplace=True)
basics_data.drop('segment', axis=1, inplace=True)

In [ ]:
merged_data1 = pd.merge(basics_data, dividend_data, how='left', on='ticker')
merged_data2 = pd.merge(merged_data1, esg_data, how='left', on='ticker')
merged_data3 = pd.merge(merged_data2, analysis_data, how='left', on= 'ticker')
merged_data4 = pd.merge(merged_data3, performance_data, how='left', on='ticker' )
#merged_data5 = pd.merge(merged_data4, fundflow_data, how='left', on='ticker')


merged_data4.head()

In [ ]:
merged_data5.drop('as_of_date_p', axis=1, inplace=True)

In [ ]:

import pyarrow as pa
import pyarrow.parquet as pq

df_merged = merged_data5
# Convert DataFrame to Apache Arrow Table
table = pa.Table.from_pandas(df_merged)# Convert DataFrame to Apache Arrow Table
pq.write_table(table, '/Users/kk/Desktop/etf_addendum/df_merged_etf.parquet', compression='BROTLI')

------------

In [ ]:
import yfinance as yf

In [ ]:
etf_ticker = df_merged.ticker

In [ ]:
etf_ticker = pd.DataFrame(etf_ticker)

In [ ]:
etf_ticker.head()

In [ ]:
spy = yf.Ticker(SPY)

In [ ]:
yf_ticker()

-------

In [ ]:
df_merged.head()

In [ ]:
df_gb_esg_rate = df_merged.groupby('esg_rating', '')

In [ ]:
df_gb_esg_rate.count()

In [ ]:
1341+298+6+6+70+461+1

In [ ]:
3172-1341

In [ ]:
df_merged.count()

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
fig, ax = plt.subplots(2,3, figsize=(20,10)) # create subplots on 2 rows and 3 columns
plt.suptitle('Distribution of numeric columns', fontsize=20)
#fig.tight_layout() # tight_layout automatically adjusts subplot params so that the subplot(s) fits in to the figure area
#plt.subplots_adjust(hspace = .5, wspace = .2, top = .9) # adjusts the space between the single subplots
sns.barplot(data=df_gb_esg_rate, x= 'esg_rating', y= 'ticker')

In [ ]:
df_merged.describe()

In [ ]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport

/opt/homebrew/Caskroom/miniconda/base/envs/ml_env/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/opt/homebrew/Caskroom/miniconda/base/envs/ml_env/lib/python3.11/site-packages/numba/core/decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
/opt/homebrew/Caskroom/miniconda/base/envs/ml_env/lib/python3.11/site-packages/visions/backends/shared/nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit

In [ ]:
profile = ProfileReport(df, title="Profiling Report")